.under-content2 {
  
  height: 41vh;
  .conca {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    padding-top: 20px;
    .tripu {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 12px;
      color: rgba(68, 0, 255, 0.658);
    }
  }
}
a{
  text-decoration: none;
  color: rgba(68, 0, 255, 0.658);
}